@tailwind base;
@tailwind components;

/* ------------------------------------------------
    Utilities
--------------------------------------------------- */

.shadow-outline-red { box-shadow: 0 0 0 3px rgba(229, 71, 41, 0.5); }
.shadow-outline-green { box-shadow: 0 0 0 3px rgba(139, 198, 80, 0.5); }


/* ------------------------------------------------
    HUD
--------------------------------------------------- */

.hud { @apply bg-gray-900 rounded-lg w-full p-8 grid grid-cols-1 items-center; }

@media screen and (min-width: 1024px) {
    .hud { @apply grid-cols-2; }
}

/* ------------------------------------------------
    Typography
--------------------------------------------------- */

/* Headings */

.h1 { @apply text-4xl font-hairline; }
.h3 { @apply text-2xl font-hairline; }


/* ------------------------------------------------
    Buttons
--------------------------------------------------- */

/* Default */

.btn        { @apply text-white rounded-md px-3 py-2 transition duration-300; }
.btn:focus  { @apply outline-none shadow-outline; }

/* Colors */

.btn-blue             { @apply bg-blue-500; }
.btn-blue:hover       { @apply bg-blue-600; }
.btn-blue:active      { @apply bg-blue-600; }

.btn-gray             { @apply bg-gray-500; }
.btn-gray:hover       { @apply bg-gray-600; }
.btn-gray:active      { @apply bg-gray-600; }

.btn-green            { @apply bg-green-500; }
.btn-green:hover      { @apply bg-green-600; }
.btn-green:active     { @apply bg-green-600; }

.btn-indigo           { @apply bg-indigo-500; }
.btn-indigo:hover     { @apply bg-indigo-600; }
.btn-indigo:active    { @apply bg-indigo-600; }

.btn-orange           { @apply bg-orange-500; }
.btn-orange:hover     { @apply bg-orange-600; }
.btn-orange:active    { @apply bg-orange-600; }

.btn-red              { @apply bg-red-500; }
.btn-red:hover        { @apply bg-red-600; }
.btn-red:active       { @apply bg-red-600; }

.btn-turquoise        { @apply bg-turquoise-500; }
.btn-turquoise:hover  { @apply bg-turquoise-600; }
.btn-turquoise:active { @apply bg-turquoise-600; }

.btn-yellow           { @apply bg-yellow-500; }
.btn-yellow:hover     { @apply bg-yellow-600; }
.btn-yellow:active    { @apply bg-yellow-600; }


/* ------------------------------------------------
    Tables
--------------------------------------------------- */
.td, .th { @apply font-normal px-2 py-1; }
.th { @apply text-left text-white bg-gray-900 }
.th:first-child { @apply rounded-l-sm }
.th:last-child { @apply rounded-r-sm }


/* ------------------------------------------------
    App Tab
--------------------------------------------------- */

.app-tab { @apply text-white bg-gray-800 rounded-l-md px-3 py-2 mb-2 w-full transition duration-300; }
.app-tab:hover { @apply bg-gray-700; }


/* ------------------------------------------------
    Form Fields
--------------------------------------------------- */

.select-field { @apply appearance-none; }
.select-field-wrap { @apply relative w-64 }

.base-field { @apply block w-64 bg-white border border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight; }
.base-field:hover { @apply border-gray-500 }
.base-field:focus { @apply outline-none shadow-outline }

/* Groups */
.field-group:not(:first-child) { @apply mt-2 }
.field-group { @apply block }

/* Errors */
.is-invalid .base-field { @apply border-red-500 }
.is-invalid .base-field:focus { @apply shadow-outline-red }
.is-valid .base-field:focus { @apply shadow-outline-green border-green-500 }

.is-required .field-label::after {
    content: ' *';
    @apply text-red-500;
}

.field-error { @apply text-red-500 }


@tailwind utilities;
